
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_CustomLayout</title>
    <link rel="stylesheet" href="" />
    
</head>
<body>

    @RenderBody();
</body>
</html>
